#posts {
  margin: 4rem 0;

  #output {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  .post {
    background: #ccc;
    padding: 1rem;

    &-title {
      font-size: 17px;
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 1.5rem;
    }

    small {
      display: block;
      margin: 1rem 0 .5rem 0;
    }

    &-btn {
      text-decoration: none;
      background: #333;
      color: #fff;
      padding: 0.5rem 1rem;
      @include transition-ease;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}